
*{
    margin: 0;
}
img{
    max-width: 150px;
    border-radius: 50%;
    padding-top: 10px;
}

.perfil{
    text-align: center;
    background-color: #2DCDDF;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
   
}
.contenedor{
    margin-left: 5rem;
}
.infoPersonal{
    display: none;
}
.infoPersonal p{
    width: 75%;
    margin: 20px;
}

ul{
    margin: 15px 0 10px 0;
    
}
button{
    font-family: 'Poppins', sans-serif;
    height: 40px;
    width: 250px;
    background-color:  #3C79F5;
    border-color: #3C79F5;
    border-radius: 1.5px;
    margin-top: 30px;
    margin-left: 20px;
    color: azure;
    font-size: 18px
}

ul.cuadrado{
    text-transform: titlecase;
    list-style: none;
}

.cuadrado i{
    margin-right: 6px;
}
.cuadrado li{
    margin-bottom: 10px;
}

i{
    color: white;
    margin-left: 1.2rem;
}
.card{
    display: inline-block;
    width: 500px;
    height: 100px;
    background-color:white;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.infoPers{
    margin-left: 20px ;
}
.infoPers i{
    color: #2DCDDF;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 15px;
    opacity: 0.6;
}

.infoPers p{
    text-transform: capitalize;
    margin-top: 3px;
}
.infoPersonal i{
    color: #2DCDDF;
}

.habilidades{
    display: inline-block;
    width: 500px;
    height: 100px;
    margin-top: 12px;
}
.infoPersonal#hab{
    margin-left: 20px;
    margin-bottom: 10rem;
}